$color-gray = #2D2F33
$color-gray-1 = #656973
$color-gray-2 = #A8ABB3
$color-gray-3 = #D2D4D9
$color-gray-4 = #EBEBED
$color-gray-5 = #F0F1F2
$color-gray-6 = #F5F6F7
$color-gray-7 = #F7F8FA
$color-gray-8 = #FAFAFA
$color-gray-9 = rgba(0,0,0,0.04)

$color-blue = #0D8DFC


ellipsis() {
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}

mid() {
  display inline-block
  vertical-align middle
}
